*, *::after , *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    background-color: rgb(182, 11, 11);
    height: 60vh;
}
.hero-title {
    color: #fff;
    font-size: 46px;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.img-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("http://localhost:3000/assets/img/cover.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

.form-select {
    height: 50px;
    width: 150px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 6px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.12);
}   

.form {
    height: 40%;
    width: 60%;
    padding: 10px 20px;
    border: 4px solid #fff;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.form-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-input {
    height: 50px;
    width: 250px;
    padding: 4px 10px;
    border-radius: 6px;
    font-size: 16px;
    border-width:0px;
    border:none;
    outline: none;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.12);
}

.form-button {
    height: 50px;
    width: 150px;
    padding: 0 30px;
    border: 1px solid #febc4b;
    border-radius: 6px;
    background-color: #febc4b;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    transition: all 0.1;
    box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.12);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.form .form-button:hover{
    color: #febc4b;
    background-color: #ffffff;
    border-color: #febc4b;
    opacity: 1;
}

/* ------- flights tbale -------- */

table {
  width: 100%;
  border-collapse: collapse;
}
thead tr th
{
  font-weight: bold;
  text-transform: uppercase;
  color: #363772;
  padding-bottom: 20px;
}
tbody tr td
{ 
  font-weight: 500;
  text-align: center;
  padding: 10px 0;
}
tbody tr td .edit
{
  font-weight: 500;
  color: #fff;
  border-radius: 30px 0 0 30px;
  border: 0px;
  background-color: #42b983;
  padding: 6px 10px;
  transition: ease-in-out 0.3s;
}
tbody tr td .edit:hover
{
  background-color: #363772;
}
tbody tr td .delete
{
  font-weight: 500;
  color: #fff;
  border-radius: 0 30px 30px 0;
  border: 0px;
  background-color: #a11d06;
  padding: 6px 10px;
  transition: ease-in-out 0.3s;
}
tbody tr td .delete:hover
{
  background-color: #b39162;
}

/* ------ modal ------- */

.modal {
    display:none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 15px;
    border: 1px solid #888;
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }

  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 16px;
    color:  #212529;
  }
  
  .modal-body {
      padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}
.modal-body  .input-personnel{

    width: 260px;
    margin: 0 15px 15px 15px;
    display: flex;
    flex-direction: column;
}
.modal-body   .input-personnel input{
    height:45px;
    border:2px solid rgb(133, 133, 133);
    padding:10px;
    border-radius:3px;
}
  
  .modal-footer {
    padding: 2px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
  }